body{
    min-height: 100vh;
    background-color: #383535;
}
p{
    white-space: normal;
}

.content{
    background-color: brown;
}

.text-div{
    background-color: cadetblue;
}

.img-div{
    background-color: darkorange;
}

.img-container{
    overflow: hidden;
}

.img-container img{
    width: 500px;
}

.img-container div{
    width: 500px;
    height: 375px;
    background-color: brown;
}

.btns{
    width: 100px;
    height: 40px;
    background-color: brown;
    color: cornsilk;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.wrapper{
    width: 500px;
}

.tv{
    box-sizing: border-box;
    width: 550px;
    height: 470px;
    padding: 25px 20px 25px 20px;
    border-radius: 10px;
    background-color: blue;
}